@{
	ViewData["Title"] = "Email Confirmed";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
	<div class="account-box">
		<h2 class="text-center mb-4">Email Confirmed</h2>
		<p class="text-center mt-2">Your email has been successfully verified.</p>
	</div>
</div>
