@{
	ViewData["Title"] = "Reset password link sent";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
	<div class="account-box">
		<h2 class="text-center mb-4">Reset Password Link Sent</h2>
		<p class="text-center mt-2">An email containing a link to reset your password will be sent to you shortly.</p>

		<div class="text-center mt-2">
			<a asp-controller="Account" asp-action="Login" class="text-decoration-none mt-3">Back to login</a>
		</div>
	</div>
</div>
